*
	margin 0
	padding 0 
	box-sizing border-box

body
	font-family 'Open Sans', sans-serif
	font-size 24px
	line-height 36px
	font-weight 400
	color #f3ffe2 

h1
	margin 0

li
	list-style none
	outline none

a
	text-decoration none

.general-content
	padding-top 115px
	background-image linear-gradient(#38b3bf, #1695a3)
	
.main-header
	font-size 72px
	line-height 72px
	font-weight 800
	text-align center
	background-color transparent

	& + .main-subtitle
		margin-top 70px

.main-subtitle
	text-align center

.wrapper
	margin 0 auto
	padding 0 25px
	max-width 1970px

	&--small
		margin 0 auto
		padding 0 10px
		max-width 875px

.photo-container
	margin 0 auto
	padding-top 130px
	max-width 1600px

.photo-list
	display flex
	flex-wrap wrap
	justify-content space-between
	max-width 1600px

	&__item
		display flex
		flex-direction column
		justify-content center
		margin-bottom 200px
		width 700px
		height 700px
		overflow hidden

	&__mask
		position relative
		width 700px
		height 700px
		overflow hidden
		border 1px solid #f2ffe3

		&:hover
			transform scale(0.98)
			transition all ease-in-out 0.3s
		
		&--circle
			border-radius 50%

		&--rectangle
			height 500px

		&--triangle
			height 605px
			clip-path polygon(50% 0%, 0% 100%, 100% 100%)

	&__img
		position absolute
		top 0 
		left 50%
		cursor pointer

		&--circle
			transform translate(-33%, -30%)

		&--rectangle
			transform translate(-34%, -6%)

		&--quadrate
			transform translate(-45%, -33%)

		&--triangle
			transform translate(-64%, -41%)

		img 
			width 1600px

.overlay
	position fixed
	z-index 999
	display none
	top 0
	left 0
	width 100%
	height 100%
	overflow-y auto
	background-image linear-gradient(#38b3bf, #1695a3)

.popup
	position absolute
	top 0
	left 50%
	padding 105px 0 100px 0
	width 100%
	transform translateX(-50%)

.body-inactive
	overflow hidden

.main-header + .main-photo
	margin-top 100px

.main-photo
	display flex
	justify-content center

	img
		width 100%
		height auto
		object-fit cover

	&__container
		margin 0 160px
		max-width 1600px
		line-height 0
		border 1px solid #f2ffe3

.close-popup
	z-index 999
	position absolute
	top 50px
	right 50px
	width 110px
	height 110px
	cursor pointer

	&:before,
	&:after
		content ''
		position absolute
		top 55px
		left -15px
		width 140px
		height 2px
		background-color #f3ffe1
		
	&:before
		transform rotate(45deg)

	&:after
		transform rotate(-45deg)  


@media screen and (max-width: 1600px)

	.general-content
		padding-top 50px

	.main-header
		font-size 50px
		line-height 50px

		& + .main-subtitle
			margin-top 40px

	.main-subtitle
		font-size 18px

	.wrapper--small
		max-width 675px

	.photo-container
		padding-top 70px

	.main-photo__container
		margin 0 130px

	.photo-list
		justify-content space-around

		&__item
			margin-bottom 150px
			width 700px - 20%
			height 700px - 20%

		&__mask
			width 700px - 20%
			height 700px - 20%

			&--rectangle
				height 500px - 20%

			&--triangle
				height 605px - 20%

		&__img
			img
				width 1280px

	.popup
		padding-top 80px

	.main-header + .main-photo
		margin-top 50px

	.close-popup
		width 70px
		height 70px

		&:before,
		&:after
			top 35px
			left -15px
			width 100px
			height 2px

@media screen and (max-width: 1280px)

	.photo-list

		&__item
			margin 0 35px 100px 35px
			width 700px - 50%
			height 700px - 50%

		&__mask
			width 700px - 50%
			height 700px - 50%

			&--rectangle
				height 500px - 50%

			&--triangle
				height 605px - 50%

		&__img
			img
				width 800px

	.popup
		padding-top 40px

	.close-popup
		top 25px
		right 25px
		width 52px
		height 52px

		&:before,
		&:after
			top 24px
			left -10px
			width 70px
			height 2px

	.main-photo__container
		margin 0 90px

@media screen and (max-width: 768px)

	.photo-list__item
		margin-bottom 50px

	.main-header
		font-size 36px
		line-height 36px

	.main-photo__container
		margin 0 25px

	.close-popup
		top 15px
		right 15px
		width 26px
		height 26px

		&:before,
		&:after
			top 12px
			left -5px
			width 35px
			height 2px

@media screen and (max-width: 480px)

	.general-content
		padding-top 25px

	.wrapper
		padding 0 15px

	.wrapper--small
		padding 0

	.main-header
		font-size 28px
		line-height 28px

		& + .main-subtitle
			margin-top 20px
		
		& + .main-photo
			margin-top 25px

	.main-subtitle
		font-size 16px
		line-height 24px

	.photo-container
		padding-top 40px

	.photo-list

		&__item
			margin 0 25px 50px 25px
			width 700px - 70%
			height 700px - 70%

		&__mask
			width 700px - 70%
			height 700px - 70%

			&--rectangle
				height 500px - 70%

			&--triangle
				height 605px - 70%

		&__img
			img
				width 490px

	.main-photo__container
		margin 0 15px
